<header>
  <%= link_to root_path, class: "back-icon" do %></span><% end %>
  <h2>REGISTER</h2>
  <h3>Next</h3>
</header>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email", class: "inputs email-input" %>
  </div>

   <div class="field">
    <%= f.text_field :name, placeholder: "Full name", autocomplete: "name", autocomplete: "name", class: "inputs name-input"%>
  </div>

<div class="field">
  <%= f.password_field :password, placeholder: "Password (#{@minimum_password_length} characters minimum)", autocomplete: "new-password", class: "inputs pass-input" %>
</div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "new-password", class: "inputs newp-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "login-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
