<header>
 <%= link_to root_path, class: "back-icon" do %></span><% end %>
  <h2>CATEGORIES</h2>
</header>
  <div class="category-list">
    <% @categories.each do |category| %>
     <%= link_to user_category_transactions_path(@user, category), class: "category-link" do %>
      <div class="category">
        <div class="category-icon">
          <%= category.icon %>
        </div>
        <div>
          <p><%= category.name %></p>
          <p><%= category.created_at.strftime("%B %d, %Y") %></p>
        </div>
        <div class="amount">
          <p>$<%= category.transactions.sum(:amount) %></p>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <%= link_to new_user_category_path(@user), class: "add-category" do %>
    <span>Add Category</span>
<% end %>